form {
  width: 100%;
}

nav {
  background-color: #e3f2fd;
}

.text {
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-row-gap: 15px;
}

#item {
  flex-basis: 40%;
  flex-grow: 1;
  margin: 2rem;
}

#wholerow {
  min-width: 100%;
}

footer {
  color: white;
  background-color: black;
  height: 40px;
  padding-left: 7px;
}
